
body {
    margin: 20px;
    font-family: 'Roboto', sans-serif;
    background: url("backgraund.svg");
}

* {
    box-sizing: border-box;

}


/* Create three equal columns that floats next to each other */
.column {
    background-color: #424242;
    float: left;
    width: 33.33%;
    padding: 10px;
    color: #04AA6D;
    border: 1px solid black;
    border-radius: 8px;
    height: 600px;

}

.left-col {
    text-align: center;

}

.row:first-child img {
    margin-top: 100px;
    width: 150px;
    height: 120px;
    border-radius: 10px;

}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}


.button-3 {
    appearance: none;
    background-color: #2ea44f;
    border: 1px solid rgba(27, 31, 35, .15);
    border-radius: 6px;
    box-shadow: rgba(27, 31, 35, .1) 0 1px 0;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    padding: 6px 16px;
    position: relative;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
    white-space: nowrap;
}

.button-3:focus:not(:focus-visible):not(.focus-visible) {
    box-shadow: none;
    outline: none;
}

.button-3:hover {
    background-color: #2c974b;
}

.button-3:focus {
    box-shadow: rgba(46, 164, 79, .4) 0 0 0 3px;
    outline: none;
}

.button-3:disabled {
    background-color: #94d3a2;
    border-color: rgba(27, 31, 35, .1);
    color: rgba(255, 255, 255, .8);
    cursor: default;
}

.button-3:active {
    background-color: #298e46;
    box-shadow: rgba(20, 70, 32, .2) 0 1px 0 inset;
}

.left-col {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;

}

.center-col {
    border-radius: 0;

}

.right-col {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;

}
